//LESS CLASSES
.file_actions {
    margin-top: 30px;
    margin-left: 0px;
    height: 40px;
    width: 40px;
}

.main_view_border {
  box-shadow: -2px 0 0 0 #272727, -4px 0 0 0 #3b3b3b;
}

.light_entity_border {
  box-shadow: 0px 2px 0 0 #272727, 0px 4px 0 0 #3b3b3b;
}

@font-face {
  font-family: GothamHeader;
  src: url('Gotham-Black.ttf');
}

@font-face {
  font-family: GothamBody;
  src: url('GothamNarrow-Book.ttf');
}

//

#main_view {
  .main_view_border;

  height: inherit;
  margin-left: 17%;
}

.light_entity {
    .light_entity_border;

    text-align: left;
    padding: 50px 20px 20px 80px;

    font-family: GothamBody, helvetica, sans-serif;
    font-size: 24pt;
    color: #CBCBCB;
  //font-weight: bold;
}

.light_entity.touched {
    .light_entity;
    color: #74B6EE;
    text-shadow: 0px 0px 6px #94c4eb;
}

.light_info {
    font-weight: normal;
    font-style: italic;
}

.folder, .folder_app, .folder_gray, .folder_photos, .folder_public, .folder_star, .folder_user {
    background: url('img/icon-file.png') no-repeat 5% 50%;
}

.folder_selected, .folder_app_selected, .folder_gray_selected, .folder_photos_selected, .folder_public_selected,
.folder_star_selected, .folder_user_selected {
    background: url('img/icon-blue-file.png') no-repeat 10%;
}