@import "./global/colors.less";
@import "./global/fonts.less";



#sign-up-modal {
  overflow: inherit; //don't show scrollbar when modal is up

  .modal-dialog {
    width: 950px;


    .modal-header {
      border: none;

      .honey-title {
        font-family: 'HoneySemiBold';
        font-size: 5em;
        color: @dark-purple;
      }

      h5 {
        font-family: 'GothamBook';
        line-height: 2.5em;
      }

      button.close {
        top: 0;
        right: 30px;
        position: absolute;
        padding: 5px 10px;
        background: @light-purple;

        &:hover {
          color: darken(@dark-purple, 10%)
        }

        &:focus {
          outline: none;
        }

      }

      .close {
        font-size: 2em;
        color: @dark-purple;
        margin-top: 0;
        opacity: 1;
        text-shadow: none;
      }
    } // END MODAL HEADER

    .modal-body {
      display: table;
      width: 100%;
      margin-bottom: 50px;

      .sign-up-or {
        font-family: 'Rockwell';
        width: 20px;
        font-size: 1.5em;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 45%;
        background: white;
      }

      .section-sign-up {
        position: relative;
        height: 300px;
        width: 50%;
        display: table-cell;
        padding: 20px;

        .sign-up-container {
          font-family: 'Rockwell';
        }

        .btn {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin-left: 45px;
          margin-right: 45px;
          padding: 20px 40px;
          border-radius: 5px;
          color: #fff;

          .btn-text {
            font-family: 'GothamMedium';
            font-size: 1.8em;
          }

          &.sign-up-btn {
            background-color: @dark-purple;

            &:hover {
              background-color: lighten(@dark-purple, 10%);
            }
            &:active {
              background-color: darken(@dark-purple, 10%);
            }
          }

          &.fb-btn {
            background-color: @fb-blue;

            .btn-text {
              margin-left: 20px;
            }

            &:hover {
              background-color: lighten(@fb-blue, 10%);
            }
            &:active {
              background-color: darken(@fb-blue, 10%);
            }


          }


        }

      }

      #email-sign-up {
        border-right: 1px solid @light-gray;

        #email-input-container {
          padding: 0 45px;

          .sign-up-input {
            width: 100%;
            text-align: center;
            border: none;
            padding: 15px 0;
            font-size: 1.3em;

            &::-webkit-input-placeholder { color:@light-gray; }
            &::-moz-placeholder { color:@light-gray; } /* firefox 19+ */
            &:-ms-input-placeholder { color:@light-gray; } /* ie */
            &input:-moz-placeholder { color:@light-gray; }

            &:focus {
              outline: 3px solid @light-purple;
              border: none;
            }

            &:nth-child(2) {
              border-top: 1px solid @light-gray;
              border-bottom: 1px solid @light-gray;
            }
          }


        } //END EMAIL INPUT CONTAINER

      } //END EMAIL SIGN UP

      #fb-sign-up {

        #fb-container {
          h5 {
            font-style: italic;
          }
          
          .fb-text {
            font-size: 1.2em;
            line-height: 3em;

            i {
              font-size: 1.5em;
              vertical-align: -15%;
              margin-right: 5px;
            }
          }

        }// END FB CONTAINER
      }//END FB SIGNUP

    } //END MODAL BODY


  } //END MODAL DIALOG



} //END SIGN UP MODAL




