html, body {
    height: 100%;
    background-image: url('img/absurdidad.png');
    background-repeat: repeat;

}

#app {
    height: 100%;
}

#header {
    height: 70px;

    //background-image: url('img/grid_bg.png');
    //background-repeat: repeat;

    background: #F3FAFF; /* Old browsers */
//    background-image: url('img/grid_bg.png'), -moz-linear-gradient(left, #2f7ecd 1%, #3ba1e3 50%, #2f7ecd 100%); /* FF3.6+ */
//    background-image: url('img/grid_bg.png'), -webkit-gradient(linear, left top, right top, color-stop(1%,#2f7ecd), color-stop(50%,#3ba1e3), color-stop(100%,#2f7ecd)); /* Chrome,Safari4+ */
//    background-image: url('img/grid_bg.png'), -webkit-linear-gradient(left, #2f7ecd 1%,#3ba1e3 50%,#2f7ecd 100%); /* Chrome10+,Safari5.1+ */
//    background-image: url('img/grid_bg.png'), -o-linear-gradient(left, #2f7ecd 1%,#3ba1e3 50%,#2f7ecd 100%); /* Opera 11.10+ */
//    background-image: url('img/grid_bg.png'), -ms-linear-gradient(left, #2f7ecd 1%,#3ba1e3 50%,#2f7ecd 100%); /* IE10+ */
//    background-image: url('img/grid_bg.png'), linear-gradient(left, #2f7ecd 1%,#3ba1e3 50%,#2f7ecd 100%); /* W3C */
//    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7ecd', endColorstr='#2f7ecd',GradientType=1 ); /* IE6-9 */

    border-bottom: 1px solid #dbdbdb;

    font-family: 'Rokkitt', serif;
    font-size: 30pt;
    color: white;

}

#header_base {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo_img {
    margin-top: 30px;
    margin-bottom: 50px;
}

#footer {
    background-image: url('img/grid_bg.png');
    background-repeat: repeat;

    position: relative;
    background-color: #3A3A3A;

    border-top: 5px solid #dedede;
}

.footer_section {
    height: 400px;
    border-top: 5px solid #dedede;

    color: white;
}

.how_tile {
    margin: 20px;
    height: 150px;
    border: 3px solid
    white;
}

.push {
    height: 50px;
    clear: both;
}

#links_ul {
    color: white;
    list-style-type: none;
    font-family: 'Rokkitt', serif;
    font-size: 16pt;
    font-weight: bold;

    height: 56px;
}

.link {
    margin: 25px;
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tile-background (@url) {
    background-image: @url;
    background-position: center;
    background-repeat: no-repeat;
}

#tile1 {
    .tile-background(url('img/tile1.png'));
}

#tile2 {
    .tile-background(url('img/tile2.png'));
}

#tile3 {
    .tile-background(url('img/tile3.png'));
}

.how_number {
    display: inline-block;
    margin: 5px;
}

.how_title {
    text-align: center;
    font-size: 15pt;
}

.how_desc {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.how_final {
    padding-top: 45px;
    text-align: center;
    font-size: 20pt;
    color: white;
}

.about_tile {
    height: 150px;
    margin-top: 50px;
}